body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 0 80%;
}

.card {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #B1B7A4;
    color: #2A2E24;
    border-bottom: 4px solid #186EAB;
    border-radius: 10px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 5px dotted blue;
}


.contact-me {
    list-style-type: none;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 20px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
